.about {
  padding: 80px 104px;
}

.about__content {
  display: flex;
  align-items: top;
  justify-content: center;
  gap: 56px;
}

.about__image {
  background-color: rgba(148, 148, 148, 1);
  width: 464px;
  height: 464px;
  flex-shrink: 0;
  border-radius: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
}

.about__placeholder-text {
  max-width: 266px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 20px;
  color: rgba(255, 255, 255, 1);
}

.about__author {
  max-width: 600px;
  color: rgba(26, 27, 34, 1);
  margin: 56px 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about__title {
  font-family: "Roboto Slab";
  font-weight: 400;
}

.about_paragraph {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}
.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

@media screen and (max-width: 1200px) {
  .about__image {
    width: 300px;
    height: 300px;
    flex-shrink: 0;
    border-radius: 1000px;
    gap: 12px;
  }

  .about {
    padding: 61px 40px;
  }

  .about__placeholder-icon {
    width: 40px;
    height: 40px;
  }
  .about__placeholder-text {
    font-size: 14px;
  }

  .about__title {
    font-size: 30px;
  }
}

@media screen and (max-width: 900px) {
  .about__author {
    max-width: 424px;
    color: rgba(26, 27, 34, 1);
    margin: 0 0 56px 0;
  }

  .about__image {
    width: 232px;
    height: 232px;
  }
}
