.nav__list {
  display: flex;
  align-items: center;
  gap: 76px;
  list-style: none;
  margin: 0;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;
}

.nav__button {
  display: flex;
  align-items: center;
  gap: 15px;
  border-radius: 100px;
  border: 1px solid;
  background-color: transparent;
  font: inherit;
  padding: 12px 12px 12px 19px;
}

.nav__button_logged-out {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  border-radius: 100px;
  border: 1px solid;
  background-color: transparent;
  font: inherit;
  width: 176px;
  height: 48px;
}

.nav__button-icon {
  width: 24px;
  height: 24px;
}

.nav__list_logged-out {
  display: flex;
  align-items: center;
  gap: 42px;
  list-style: none;
  margin: 0;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;
}
