.hero-content {
  max-width: 608px;
  margin: 0 auto;
  color: rgba(255, 255, 255, 1);
  position: relative;
}

.hero-content__container {
  margin: 0 0 88px 0;
}

.hero-content__title {
  font-family: "Roboto Slab";
  font-weight: 400;
  font-size: 60px;
  line-height: 64px;
  margin: 0 0 32px 0;
}

.hero-content__body {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
}

@media screen and (max-width: 916px) {
  .hero-content {
    max-width: 452px;
  }
  .hero-content__container {
    margin: 0 0 48px 0;
  }

  .hero-content__title {
    font-size: 36px;
    line-height: 40px;
    margin: 0 0 16px 0;
    max-width: 385px;
  }

  .hero-content__body {
    max-width: 452px;
  }
}
