.article {
  background-color: rgba(245, 246, 247, 1);
}

.article__content {
  max-width: 1232px;
  padding: 80px 0;
  margin: 0 auto;
}

.article__content_saved-news {
  padding: 62px 0;
}

.article__list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.article__title {
  font-family: "Roboto Slab";
  font-weight: 400;
  font-size: 40px;
  margin: 0 0 64px 0;
}

.article__button {
  padding: 20px 99px;
  border-radius: 80px;
  display: block;
  color: rgba(232, 232, 232, 1);
  border: none;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;
  height: 64px;
  color: rgba(26, 27, 34, 1);
  margin: 64px auto 0;
}

.article__button-active {
  background-color: rgba(255, 255, 255, 1);
}

/* Intermediate - card layout */
@media screen and (max-width: 1230px) {
  .article__list {
    gap: 16px;
  }

  .article__content {
    max-width: 816px;
  }

  .article__button {
    margin: 32px auto 0;
  }
}

/* Tablet */
@media screen and (max-width: 819px) {
  .article__list {
    gap: 8px;
  }

  .article__content {
    max-width: 688px;
    padding: 40px 0;
  }

  .article__content_saved-news {
    padding: 32px 0;
  }
  .article__title {
    font-size: 30px;
    margin: 0 0 32px 0;
  }
}

/* Intermediate - tablet to mobile */
@media screen and (max-width: 680px) {
  .article__content {
    max-width: 456px;
  }
}

/* Mobile */
@media screen and (max-width: 510px) {
  .article__content {
    padding: 32px 16px;
  }

  .article__title {
    margin: 0 0 58px 0;
  }

  .article__list {
    justify-content: center;
    gap: 10px;
  }
  .article__button {
    padding: 16px 99px;
    margin: 32px auto 0;
    white-space: nowrap;
  }
}
